*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("background\ \(1\).webp");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.main
{
    width:96%;
    height:100vh;
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}
.sidebar{
    width:3%; 
    height:100vh;
    display:flex;
    flex-direction:column;
    position:absolute;
    right:0;
    top:0;
    background:linear-gradient(#09004b,#1b0a0a);
}
.main img{
    width:150px;
    height:150px;
    margin-left: 50px;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}
.content h1{
    color: white;
}
button{
    width:150px;
    height:50px;
    background: none;
    border: 1px solid white;
    border-radius: 50px;
    border-color: white;
    color: white;
    font-size: 15px;
    padding: 5px 5px;
}
.sidebar img{
    width:35px;
    height: 35px;
}
.sociallinks{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.usefullinks{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 50px;
}
.menu{
    text-align: center;
    margin-top: 15px;  
}

.bubble img {
    width: 50px;
    animation:sam 5s linear infinite;
}
@keyframes sam{

    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubble{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bubble img:nth-child(1){
    animation-delay: 4.5s;
}
.bubble img:nth-child(2){
    animation-delay: 4s;
}
.bubble img:nth-child(3){
    animation-delay: 3.5s;
}
.bubble img:nth-child(4){
    animation-delay: 2s;
}
.bubble img:nth-child(5){
    animation-delay: 1.5s;
}
